$font-family: "Lato", Arial, sans-serif;
$font-color: #e6fff0;
$primary-color: #425aa5;
$background-color: #f8f9fd;
$heading-color: #000;
$shadow-color: rgba(0, 0, 0, 0.24);

$body-font-size: 16px;
$body-line-height: 1.8;
$body-color: gray;

$link-transition: 0.3s all ease;

$heading-line-height: 1.5;
$heading-font-weight: 400;

$button-gradient-start: #425aa5;
$button-gradient-end: #5b7ad6;
$button-border-color: #425aa5;
$button-text-color: #fff;
$button-hover-start: #4e67b4;
$button-hover-end: #67a0e2;

$placeholder-color: rgba(0, 0, 0, 0.2);
$placeholder-active-color: #425aa5;
