<section class="ftco-section">

  <div class="row justify-content-start">
    <div class="col-12 text-center">
      <h2>Estatísticas do Sistema</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="display-flex">

      <div class="card col">
        <i class="bi bi-people-fill h1"> {{ patients.length }} </i>
        <h2><b>Pacientes</b></h2>
      </div>

      <div class="card col" >
        <i class="bi bi-calendar-check h1"> {{ appointments.length }} </i>

        <h2><b>Consultas</b></h2>
      </div>

      <div class="card col" >
        <i class="bi bi-calendar-heart h1"> {{ exams.length }}  </i>
        <h2><b>Exames</b></h2>
      </div>

    </div>
  </div>


  <div class="row justify-content-start mt-4">
    <div class="col-12 text-center">
      <h2>Informações rápidas de pacientes</h2>
    </div>
  </div>

  <div class="container-fluid">

  <div class="row">
    <div class="col-12 m-2">
      <input
        id="search-patient-field"
        type="text"
        class="form-control"
        required
        [(ngModel)]="patient"
        placeholder="Procurar paciente..."
        (ngModelChange)="searchPatient()"
      >
    </div>
  </div>

    <div class="row justify-content-center">
      <div class="display-flex">
        <div class="card hover-pointer" *ngFor="let patient of filteredPatients" (click)="redirectToEditPage(patient.id)">
          <i class="bi bi-person-square h1"></i>
          <h2><b>{{ patient.name }}</b></h2>
          <p>{{ patient.birthdate | date : 'yyyy/MM/dd' | birthdateToAge }} anos</p>
          <p>{{ patient.email }}</p>
          <p>{{ patient.phone }}</p>
          <p>{{ patient.health_insurance !== '' ? patient.health_insurance : 'Sem Plano' }}</p>
        </div>
      </div>
    </div>

  </div>

</section>
